.coupdecoeur .coeur:hover {
    transform: scale(1.2);
}

.coupdecoeur .Paul {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 50px 50px 50px 50px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 11px;
    box-shadow: 5px 2px 2px var(--flashy-color);
    position: relative;
}

.coupdecoeur .Paul p {
    font-style: italic;
    font-weight: 400;
}

.coupdecoeur .Paul span .logo-paul {
    width: 55px;
    height: 55px;
    position: absolute;
    top: -25px;
    left: 140px;
}

.coupdecoeur .Paul span {
    position: relative;
}

.coupdecoeur .Paul .coeur {
    right: 20px;
    left: 20px;
}

.coupdecoeur .coeur {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.coupdecoeur .Paul div img {
    height: 250px;
    display: flex;
    background-size: cover;
}

.coupdecoeur .Paul div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
}

.coupdecoeur .Paul h1 {
    text-align: center;
    margin-top: 15px;
    width: 100%;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.coupdecoeur .contenu {
    padding: 0 5%;
}

.coupdecoeur .texte-white {
    color: white;
    font-weight: 400;
}

.coupdecoeur .wilder {
    background-color: var(--brighter-color);
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
    margin-bottom: 60px;
    border-radius: 11px;
    position: relative;
    box-shadow: 5px 2px 2px var(--darker-color);
    text-align: center;
    font-style: italic;
}

.coupdecoeur .wilder img:nth-child(2) {
    height: 200px;
}

@media screen and (min-width: 600px) {
    .coupdecoeur .contenu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 5%;
    }
    .coupdecoeur .slice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .coupdecoeur .wilder {
        width: 45%;
        height: 100%;
        margin: initial;
    }
    .coupdecoeur .Paul {
        width: 100%;
        flex-direction: row;
    }
    .coupdecoeur .Paul h1 {
        text-align: left;
    }
    .coupdecoeur .Paul img {
        margin-right: 60px;
    }
}

@media screen and (min-width: 900px) {
    .coupdecoeur .contenu {
        padding: 0 15%;
    }
}