footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
    color: white;
    margin: auto;
}

footer img {
    height: 35px;
    margin: 8px;
}

@media screen and (min-width: 600px) {
    footer {
        flex-direction: row;
        padding: 0px 15px 0px 15px;
    }
}