* {
    box-sizing: border-box;
  }

  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
  }
  
:root {
  --primary-color: #219ebc;
  --darker-color: #023047;
  --brighter-color: #8ECAE6;

  --secondary-color: #ffb703;
  --flashy-color: #fb8500;

  --spacing: 8px;

  --title-font: 'Noto Sans', sans-serif;
  --body-font: 'Kanit', sans-serif;
}  

/*-----------NAV-------------------*/

.menu {
  display: none;
  flex-basis:100%;
  list-style :none;
}
ul.menu{
  margin:0.3rem;
  padding: 1rem;
}
.menu li a {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  font-family: var(--title-font);
}
.menu li {
  border-top: 0.07rem solid white ;
}
/* s'applique uniquement si la checkbox est checked*/
.menu-checkbox:checked ~ .menu {
  display:block;
}
.menu-checkbox {
  opacity: 0;
  position: absolute;
  top:-5000px;
}
.menu-toggle {
  padding: 0.07rem 0.6em;
  color: white;
  font-size: 3rem;
}
/*.menu-checkbox:focus + .menu-toggle {
  outline: white auto 10px;
}*/
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#logo-librairie {
  width: 15rem;
  padding-left: 1rem;
  padding-top: 0.7rem;
}
nav{
  background-color: var(--primary-color);
  margin-bottom: 0.2rem;
}

  /*-----------STORY-------------------*/

.story {
  background-color: var(--brighter-color);
  border-radius: 0.5rem;
  width: 100vw;
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-family: var(--body-font);
  color: var(--darker-color);
  line-height: 1.2rem;
}

br {
  font-size: 0.2rem;
  vertical-align: top;
}

/*-----------LIBRAIRIE + ADRESSE-------------------*/

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}

.devanture {
  position: relative;
  bottom: 9%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 36%;
}

.infos {
  position: relative;
  bottom: 1rem;
  background-color: white;
  color: var(--darker-color);
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.8rem;
  font-family: var(--body-font);
  text-align: center;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 2px 2px var(--flashy-color);
}

strong {
  font-family: var(--title-font);
  font-weight: bold;
}

.bloc-orange {
  position: absolute;
  margin-top: 2rem;
  width: 100vw;
  height: 350px;
  background-color: var(--secondary-color);
}

.horloge {
  width: 8vw;
}

.contact {
  width: 12vw;
  padding-top: 1.2rem;
}

/*-----------FORMULAIRE-------------------*/

form {
  position: relative;
  top: 42.2rem;
  background-color: var(--brighter-color);
  padding-bottom: 1rem;
}

form h2 {
  font-size: 1.1rem;
  color : var(--darker-color);
  text-align: center;
  font-family: var(--body-font);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  width: 100vw;
}

input, textarea, select {
  background-color: white;
  border: 0.09rem solid var(--darker-color);
  margin-bottom: 10px;
  height: 30px;
  width: 90vw;
  font-family: var(--body-font);
  border-radius: 0.3rem;
}

textarea::placeholder, input::placeholder {
  color: var(--darker-color);
  padding-left: 0.5rem;
}

textarea {
  height: 150px;
}

input[type="submit"]{
  cursor: pointer;
  width: 40vw;
  background-color: var(--darker-color);
  color: white;
  border-radius: 0.5rem;
  box-shadow: 3px 2px 2px white;
}

label {
  color:var(--darker-color);
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
  text-align:left;
}
.void {
  height: 700px;
}

/*-----------MAP-------------------*/

.map-responsive {
  position: absolute;
}

iframe {
  position: relative;
  top: 23.5rem;
  width: 100vw;
}

/*-----------FOOTER-------------------*/

footer {
  background-color: var(--primary-color);
  width: 100vw;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  top: 43rem;
  }

 h3 {
  color: white;
  font-family: var(--title-font);
  font-size: 0.7rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

footer img {
  width: 25px;
  padding: 0rem 0.2rem;
}

/*-----------NAV VERSION DESKTOP-------------------*/

  @media screen and (min-width: 450px) {
  .menu-toggle, .menu-checkbox {
     display: none;
  }
  .menu {
      display: block;
      flex-basis: auto;
      margin: 0;
      padding: 0;
  }
  .menu li {
      display: inline-block;
  }
  #logo-librairie {
      width: 30rem;
      padding-left: 0rem;
      padding-top: 0.7rem;
  }
  .nav-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100vw;
  }
  ul.menu {
      width: 1000px;
      margin:0.3rem;
      gap: 1rem;
  }
  .menu li a {
      display: inline-block;
      padding: 0.7rem;
      text-decoration: none;
      font-family: var(--title-font);
      font-size: 2rem;
  }
  .menu li a.other-page {
    color: white;
  }
  .menu li a.current {
    color: var(--darker-color);
    font-weight: bold;
  }
  .menu li {
    border-top: 0rem;
  }
  .menu li a.other-page:hover {
    color: var(--darker-color);
    font-weight: bold;
    }
/*-----------MAIN VERSION DESKTOP-------------------*/

.bloc-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  padding: 5rem 1rem;
}

/*-----------STORY VERSION DESKTOP-------------------*/

  .story {
  width: 90%;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1.7rem;
  grid-column-start: 2;
  margin: 1rem;
  font-size: 1.5rem;
  }

/*-----------MAP VERSION DESKTOP-------------------*/

  .map-responsive {
    position: static;
  }  
  iframe {
    width: 95%;
    height: 30rem;
    top: 19rem;
    margin: 1rem;
  }
/*-----------LIBRAIRIE + ADRESSE VERSION DESKTOP-------------------*/

  .devanture {
    height: 100%;
    width: 100%;
  }
  .bloc-orange {
    margin-top: 8rem;
    width: 48%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  .infos {
    height: 15rem;
    width: 30rem;
    bottom: 2rem;
    font-size: 1.5rem;
  }
  .horloge {
    width: 2vw;
  }

  h1 {
    font-size: 1.5rem;
  }
/*-----------FORMULAIRE VERSION DESKTOP-------------------*/

  #contact-form {
    position: static;
    height: 49rem;
    width: 90%;
    grid-column-start: 2;
    border-radius: 0.5rem;
    margin: 1rem;
  }
  form h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  input, textarea, select {
    height: 30px;
    width: 70%;
  }
  textarea::placeholder, input::placeholder {
    padding-left: 1rem;
    font-size: 1.2rem;
  }
  .contact {
    width: 4vw;
  }
  input[type="submit"] {
    width: 20vw;
    height: 5rem;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  input[type="email"], input[type="text"] {
    height: 4rem;
  }
  textarea {
    height: 12rem;
  }

  label {
    font-size: 1.2rem;
  }

  .void {
    height: 0px;
  }
/*-----------FOOTER VERSION DESKTOP-------------------*/

  h3 {
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 1rem;
  }
  footer img {
    width: 50px;
    padding: 0rem 0.2rem;
  }
}