* {
    box-sizing: border-box;
  }

  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
  }
    
  h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
  }


:root {
    --primary-color: #219ebc;
    --darker-color: #023047;
    --brighter-color: #8ECAE6;

    --secondary-color: #ffb703;
    --flashy-color: #fb8500;

    --spacing: 8px;
}  

ul li:first-child {
  list-style-type: none;
}

ul li {
  color: var(--secondary-color);
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  color: var(--flashy-color);
}

ul {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  gap: 1.3rem;
}

#logo {
  padding: 3px;
  max-width: 150px;
  max-height: 150px;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 90px;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--primary-color);
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
  color: white;
  margin: auto;
}

footer img {
height: 35px;
margin: 8px;
}
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    padding: 15px 0px 15px 0px;
  }
  
  }
